= simple_form_for(@vulnerability) do |f|
  = f.error_notification

  .inputs
    = f.input :title
    = f.input :content, :as => :text
    = recaptcha_tags if @vulnerability.new?
  .actions
    = f.button :submit
