%h1 Listing vulnerabilities
%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th
    %th

  - @vulnerabilities.each do |vulnerability|
    %tr
      %td= vulnerability.title
      %td= vulnerability.content
      %td= link_to 'Show', vulnerability 
      %td= link_to 'Edit', edit_vulnerability_path(vulnerability) if logged_in?
      %td= link_to 'Destroy', vulnerability, :confirm => 'Are you sure?', :method => :delete if logged_in?
      %td= vulnerability.rating
      %td= rating_url vulnerability
%br
= link_to 'New Vulnerability', new_vulnerability_path
