%p#notice= notice

%p
  %b Title:
  = @vulnerability.title
%p
  %b Content:
  = @vulnerability.content

= link_to 'Edit', edit_vulnerability_path(@vulnerability)
\|
= link_to 'Back', vulnerabilities_path
